// Gaetan Renaudeau <gre@zenexity.fr>, Nicolae Namolovan <> 
// for Tsunami project.

@import compass.sass

// General Style

body
  :font-size 80%
  :margin 0 auto

input
  :border 1px solid silver
  +border-radius(5px)
  :padding-left 5px
  &:focus
    :border 1px solid grey
    +box-shadow(grey, 0px, 0px, 2px)

img
  :border none
  .icon
    padding-right: 3px
    :position relative
    :top 2px

// Theme common

.theme-box > .head, .theme-box > .footer
  :text-align center

.theme-box.radius
  +border-radius(10px)
.theme-box.radius > .head
  +border-top-radius(10px)
  :text-shadow 0px 0px 2px black
.theme-box.radius > .body
  +border-bottom-radius(10px)
.theme-box.radius > .footer
  +border-bottom-radius(10px)

// Usefull class
.clickable
  :cursor pointer
.linebreak
  :overflow hidden
  white-space:nowrap
.center
  :text-align center

// General class

input
  &.errorField
    :border 1px solid #F00
    &:focus
      :border 1px solid #B00

.error 
  :color #E00
  :font-size 10px

.errorContainer
  :float right

.formline
  :padding 4px
  :clear both

.result
  &.err
    :color #f00
  &.success
  :color #0f0

// Banner

#themeSelect
  ul
    :padding 5px
  ul, li
    :display inline
  a
    :background transparent
    :text-decoration none

#banner
  :padding 10px
  border-bottom: 2px solid black
#bannerProfile
  :text-align right

#banner .logo
  :margin 4px 0
  a
    :color white
    :text-decoration none
#banner h1
  :text-shadow 0px 0px 2px black, 1px 1px 4px rgba(100,220,250,.5), 3px 3px 6px rgba(255,255,255,.5)
  :padding 0 12px
  :display inline
#banner h3
  :text-shadow 0px 0px 1px black, 2px 2px 3px rgba(255,255,255,.5)
  :padding 0 12px
  :display inline
#statusBar
  :float left
  :padding-left 20px
  background: url(/public/images/loading.gif) no-repeat
  color: #FFF
  &.fail
    background: url(/public/images/loading_fail.png) no-repeat
    color: #FBB

// Application
#application
  :position absolute
  :width 100%
