<div id="changePassword">
  <h3>Changer mon mot de passe</h3>
  #{if success}<span class="error">Mot de passe mis à jour.</span>#{/if}
#{form @Profile.changePassword()}
  <p>
    <label for="password">mot de passe</label>
    <input type="password" name="password" id="password" />
    <span class="error">#{error 'password' /}</span>
  </p>
  <p>
    <label for="passwordRetype">encore une fois</label>
    <input type="password" name="passwordRetype" id="passwordRetype" />
    <span class="error">#{error 'passwordRetype' /}</span>
  </p>
  <p>
    <label for="newPassword">nouveau mot de passe</label>
    <input type="password" name="newPassword" id="newPassword" />
    <span class="error">#{error 'newPassword' /}</span>
  </p>
  <p class="buttons">
    <button type="submit">Modifier</button>
  </p>
#{/form}
</div>