<div id="changePassword">
#{form @Profile.changePassword()}
  <p>
    <label for="password">Mot de passe</label>
    <input type="password" name="password" id="password" />
    <span class="error">#{error 'password' /}</span>
  </p>
  <p>
    <label for="passwordRetype">Encore</label>
    <input type="password" name="passwordRetype" id="passwordRetype" />
    <span class="error">#{error 'passwordRetype' /}</span>
  </p>
  <p>
    <label for="newPassword">Nouveau mot de passe</label>
    <input type="password" name="newPassword" id="newPassword" />
    <span class="error">#{error 'newPassword' /}</span>
  </p>
  <p>
    <button type="submit">Envoyer</button>
  </p>
#{/form}
</div>