#{extends 'Auth/layout.html' /}
#{set title:'Récupération du mot de passe' /}

<div id="rescuePassword" class="authBox theme theme-box level-60 radius">
  <div class="head">Mot de passe oublié</div>
  <div class="body">
  
  #{if flash['emailSent']}
  
  <h2>Nous vous avons envoyé un email de confirmation.</h2>
  
  #{/if}
  #{else}
  
    <h3>Afin de récupérer votre compte, veuillez entrer votre identifiant (email ou nom d'utilisateur).</h3>
    <h4>Attention, cette procédure ne fonctionne pas si vous n'avez pas fourni d'email lors de l'inscription.</h4>
    <div class="error">#{error 'emailNotFound' /}</div>
    <form method="post">
        <div class="formline">
           <label for="login">Identifiant</label>
           <input id="login" type="text" name="login" />
           <span class="error">#{error 'login' /}</span>
        </div>
        <div class="formline">
           <button class="login">Envoyer moi un email de confirmation</button>
        </div>
    </form>
  
  #{/else}
    
  </div>
  <div class="footer">Projet tutoré de Namolovan Nicolae et Renaudeau Gaëtan.</div>
</div>