#{extends 'Auth/layout.html' /}
#{set title:'Page de connection' /}

<div id="loginBox" class="authBox theme theme-box level-60 radius" style="display: none;">
  <div class="head">Saisissez vos identifiants de connexion</div>
  <div class="body">
    <form method="post">
        <div class="formline">
           <label for="login">Identifiant</label>
           <input id="login" type="text" name="login" />
        </div>
        <div class="formline">
           <label for="password">Mot de passe</label>
           <input id="password" type="password" name="password" />
        </div>
        <div class="formline">
           <button class="login">Se connecter</button>
        </div>
    </form>
    <div class="infos">Un identifiant correspond à votre nom d'utilisateur ou à votre email si vous nous l'avez communiqué.</div>
    <div class="actions">
        <a href="@{Auth.registerPage}">S'inscrire</a>&nbsp;-&nbsp;
        <a href="">Mot de passe oublié</a>
    </div>
  </div>
  <div class="footer">Projet tutoré de Namolovan Nicolae et Renaudeau Gaëtan.</div>
</div>

<div id="browserCompatibility" class="authBox theme theme-box level-60 radius">
  <div class="head">Compatibilité</div>
  <div class="body">
    <h2>Votre navigateur ne peut pas lancer notre application.</h2>
    <h3>Voici les raisons possibles :</h3>
    <ul>
      <li>Vous n'utilisez pas un navigateur récent qui supporte le HTML5 (conseillé: firefox 3.6 minimum).</li>
      <li>Vous n'avez pas activé le Javascript.</li>
    </ul>
  </div>
  <div class="footer">Projet tutoré de Namolovan Nicolae et Renaudeau Gaëtan.</div>
</div>

<script type="text/javascript">
  var checkCompatibility = function() {
    if(!document.createElement('canvas').getContext)
      return false;
    $("#loginBox").show();
    $("#browserCompatibility").hide();
    return true;
  }
  checkCompatibility();
</script>