#{extends 'Auth/layout.html' /}
#{set title:'Inscription' /}

<div id="registerBox" class="authBox theme theme-box level-60 radius">
  <div class="head">Inscription</div>
  <div class="body">
    <form method="post">
        <div class="formline">
            <label for="username">Nom d'utilisateur*</label>
            <input id="username" type="text" name="username" maxlength="32" />
        </div>
        <div class="formline">
            <label for="password">Mot de passe*</label>
            <input id="password" type="password" name="password" />
        </div>
        <div class="formline">
            <label for="passwordAgain">Retapez-le*</label>
            <input id="passwordAgain" type="password" name="passwordAgain" />
        </div>
        <div class="formline">
            <label for="email">E-mail</label>
            <input id="email" type="text" name="email" />
        </div>
        <div class="formline">
            <button class="register">S'inscrire</button>
        </div>
    </form>
    <div class="infos">* Ces champs sont requis.</div>
    <div class="actions">
        <a href="@{Auth.loginPage}">retour</a>
    </div>
  </div>
  <div class="footer">Projet tutoré de Renaudeau Gaëtan et Namolovan Nicolae.</div>
</div>
