%{
currentUser =_currentUser
themes = _themes
}%


    <div id="banner" class="theme theme-dark level-100">
        <div class="logo"><a href="/"><h1>Tsunami</h1></a> <h3>Communiquez à la vitesse d'un tsunami.</h3></div>
        <div id="statusBar" style="display: none;">
          <span class="message"><span>
        </div>
        <div id="bannerProfile"><a href="#" class="profile profileEventClickIgnore">${currentUser.username}</a> - 
        #{if _displayAdminZone}<a href="/admin/">zone admin</a> - #{/if}
        #{if _displayIndex}<a href="/">index</a> - #{/if}
        <a href="@{Auth.logout}">Déconnexion</a></div>
      </div>