#{extends 'layout.html' /}
#{set title:'Tsunami' /}
#{set 'head'}
#{stylesheet 'index.sass' /}

*{ LIBRARIES }*
    #{stylesheet 'jquery/dark-hive/ui.all.css' /}
    #{stylesheet 'jquery/dark-hive/jquery-ui-1.7.2.custom.css' /}
    #{script 'jquery/jquery-1.4.js' /}
    #{script 'jquery/jquery-ui-1.7.2.custom.min.js' /}
    #{script 'jquery/jquery.jeditable.mini.js' /}
    #{script 'jquery/jquery.form.js' /}
    #{script 'jquery/jquery.defaultvalue.js' /}
    #{script 'jquery/jquery.autoresize.min.js' /}
    
    #{script src:'orbited/orbited.js' /}
    #{script src:'orbited/stomp.js' /}
    
*{ TSUNAMI }*
    <script  type="text/javascript" language="javascript">
      if(!window.tsunami) window.tsunami={}; tsunami.export={};
      tsunami.export.currentUser = #{toJson currentUser /};
      tsunami.export.routes = #{routes /};
      tsunami.export.i18nMessages = #{i18nMessages /};
    </script>
    
    #{script src:'tsunami/tools/utils.js' /}
    #{script src:'tsunami/tools/routes.js' /}
    #{script src:'tsunami/tools/i18n.js' /}
    #{script src:'tsunami/tools/real-time.js' /}
    
    #{script src:'tsunami/comet/comet.js' /}
    #{script src:'tsunami/comet/chat.js' /}
    
    #{script src:'tsunami/contacts.js' /}
    #{script src:'tsunami/vague.js' /}
    #{script src:'tsunami/vagues.js' /}
    #{script src:'tsunami/gui/general.js' /}
    #{script src:'tsunami/gui/WindowManager.js' /}
#{/set}

    <div id="banner" class="theme theme-dark level-100">
        <div id="themeSelect">
          <span>Sélectionnez un thème : </span>
          <ul>
          #{list items:themes, as:'t'}
            <li><a href="javascript:;" class="theme">${t}</a>#{if !t_isLast}, #{/if}</li>
          #{/list}
          </ul>
        </div>
        <div class="logo"><h1>Tsunami</h1> <h3>Communiquez à la vitesse d'un tsunami.</h3></div>
        <div id="statusBar" style="display: none;">
          <img src="/public/images/loading.gif"/> 
          <span class="message"><span>
        </div>
        <div id="bannerProfile">${currentUser.username} - <a href="@{Auth.logout}">Déconnexion</a></div>
      </div>
      <div id="application"></div>
      
