#{extends 'layout.html' /}
#{set title:'Tsunami' /}
#{set 'head'}
#{get 'head' /}
#{stylesheet 'index.sass' /}

*{ LIBRARIES }*
    #{stylesheet 'jquery/dark-hive/ui.all.css' /}
    #{stylesheet 'jquery/dark-hive/jquery-ui-1.7.2.custom.css' /}
    #{script 'jquery/jquery-ui-1.7.2.custom.min.js' /}
    #{script 'jquery/jquery.jeditable.mini.js' /}
    #{script 'jquery/jquery.form.js' /}
    #{script 'jquery/jquery.defaultvalue.js' /}
    #{script 'jquery/jquery.autoresize.min.js' /}
    #{script 'jquery/jquery.ndd.js' /}
    #{script 'postFile.js' /}
    
    #{script src:'orbited/orbited.js' /}
    #{script src:'orbited/stomp.js' /}
    #{script src:'diff-match-patch/diff_match_patch.js' /}
    
*{ TSUNAMI }*
    <script  type="text/javascript" language="javascript">
      if(!window.tsunami) window.tsunami={}; tsunami.export={};
      tsunami.export.currentUser = #{toJson currentUser /};
      tsunami.export.routes = #{routes /};
      tsunami.export.i18nMessages = #{i18nMessages /};
    </script>
    
    #{script src:'tsunami/tools/utils.js' /}
    #{script src:'tsunami/tools/routes.js' /}
    #{script src:'tsunami/tools/i18n.js' /}
    #{script src:'tsunami/tools/real-time.js' /}
    
    #{script src:'tsunami/profile.js' /}
    
    #{script src:'tsunami/comet/comet.js' /}
    #{script src:'tsunami/comet/chat.js' /}
    
    #{script src:'tsunami/contacts/utils.js' /}
    #{script src:'tsunami/contacts/list.js' /}
    #{script src:'tsunami/vague/vague.js' /}
    #{script src:'tsunami/vagues/vagues.js' /}
    #{script src:'tsunami/gui/general.js' /}
    #{script src:'tsunami/gui/WindowManager.js' /}
#{/set}

#{header themes: themes, currentUser: currentUser, displayAdminZone: currentUser.isAdmin /}
      <div id="application"></div>
 

  <div class="theme theme-light level-60" id="contactListSelfAvatarPopup" style="display: none;">
    <div class="imageContainer"></div>
    #{postFile destUrl: @Profile.postAvatar(), name: 'file' /}
  </div>
  
  <div id="profile" style="display: none;">
    #{include 'Profile/changePassword.html' /}
  </div>
  
  <div id="addNewParticipant" style="display: none;">
    <h3>Ajouter de nouveaux participant</h3>
    
    <div class="users-list">
      <ul></ul>
    </div>
  </div>
 